<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="com.michaelbelkin.MBBFPluginMovieBackground"
        version="1.0.0">

  <name>MBBFPluginMovieBackground</name>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>

  <asset src="www/MBBFPluginMovieBackground.js" target="js/MBBFPluginMovieBackground.js"/>

  <js-module src="www/MBBFPluginMovieBackground.js" name="MBBFPluginMovieBackground">
    <clobbers target="MBBFPluginMovieBackground" />
  </js-module>
  
  <platform name="ios">
    
    <config-file target="config.xml" parent="/widget">
      <feature name="MBBFPluginMovieBackground">
        <param name="ios-package" value="MBBFPluginMovieBackground" />
      </feature>
    </config-file>

    <header-file src="src/ios/MBBFPluginMovieBackground.h" target-dir="MBBFPluginMovieBackground"/>
    <source-file src="src/ios/MBBFPluginMovieBackground.m" target-dir="MBBFPluginMovieBackground"/>
  </platform>

</plugin>